.user-list {
  margin: 0;
}
.user-list li {
  border: none;
  border-bottom: 1px solid #eee;
  margin-bottom: 0px;
  padding: 12px 0 0px 0;
}
.user-list li:first-child {
  border-top: 1px solid #eee;
}
.user-list li:last-child {
  border-bottom: none;
}
.user.input-group-addon {
  min-width: 108px;
}
.password.input-group-addon {
  min-width: 141px;
}
.form.password {
  border-top: 1px solid #eee;
  padding-top: 12px;
}