<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4 class="page-header"><div ncy-breadcrumb></div></h4>

      <div ng-hide="vm.edit">

        <!-- Create button -->
        <div class="form-group">
          <button class="btn btn-primary" ui-sref="signup">
            <i class="glyphicon glyphicon-pencil"></i> Create</button>
        </div>

        <!-- Users list -->
        <uib-accordion close-others="true">
          <uib-accordion-group ng-repeat="user in vm.users | orderBy: 'name'" 
            heading="{{user.name}}" template-url="app/templates/accordion-template.html">

            <!-- Full Name -->
            <div class="form-group">
              <div class="input-group">
                <span class="user input-group-addon" ng-bind="'Full Name'"></span>
                <input type="text" class="form-control" 
                  value="{{user.firstName}} {{user.lastName}}" disabled>
              </div>
            </div>

            <!-- Email -->
            <div class="form-group">
              <div class="input-group">
                <span class="user input-group-addon" ng-bind="'Email'"></span>
                <input type="text" class="form-control" ng-model="user.email" disabled>
              </div>
            </div>

            <!-- Salesman # -->
            <div class="form-group">
              <div class="input-group">
                <span class="user input-group-addon" ng-bind="'Salesman #'"></span>
                <input type="text" class="form-control" ng-model="user.salesmanNo" disabled>
              </div>
            </div>

            <!-- Rep Phone # -->
            <div class="form-group">
              <div class="input-group">
                <span class="user input-group-addon" ng-bind="'Rep Phone #'"></span>
                <input type="text" class="form-control" ng-model="user.repPhoneNo" disabled>
              </div>
            </div>

            <!-- Edit, Delete buttons -->
            <div class="form-group" ng-hide="user.delete">
              <button type="button" class="btn btn-warning" 
                ng-click="vm.user = user; vm.edit = true">
                <i class="glyphicon glyphicon-edit"></i> Edit</button>

              <button type="button" class="pull-right btn btn-danger" 
                ng-click="user.delete = !user.delete">
                <i class="glyphicon glyphicon-trash"></i> Delete</button>
            </div>

            <!-- Show Delete -> Confirm/Cancel buttons -->
            <div class="form-group" ng-show="user.delete">
              <a type="button" class="btn btn-success" ng-click="vm.deleteUser(user)">
                <i class="glyphicon glyphicon-ok"></i> Confirm</a>

              <button type="button" class="pull-right btn btn-danger" 
                ng-click="user.delete = !user.delete">
                <i class="glyphicon glyphicon-remove"></i> Cancel</button>
            </div>
          </uib-accordion-group>
        </uib-accordion>
      
      </div>
      <div ng-show="vm.edit">

        <h5>
          <i class="text-muted glyphicon glyphicon-user"></i>
          <span ng-bind="'Edit User:'"></span>
        </h5><br>

        <!-- Change details form -->
        <form class="form" id="editUser" name="editUser" ng-submit="vm.saveUser(editUser)" novalidate>

          <!-- Username -->
          <div class="form-group" ng-class="{ 'has-error': editUser.name.$invalid 
                                                           && vm.submitted }">
            <div class="input-group">
              <span class="user input-group-addon" ng-bind="'Username'"></span>
              <input type="text" id="name" name="name" class="form-control" 
                ng-model="vm.user.name" placeholder="Username (first name)" required mongoose-error/>
            </div>
          </div>
          <div class="form-group error" ng-class="{ 'has-error': editUser.name.$invalid 
                                                                 && vm.submitted }">
            <p class="help-block" ng-show="editUser.name.$error.required && vm.submitted" 
              ng-bind="'Enter username'"></p>
            <p class="help-block" ng-show="editUser.name.$error.mongoose" 
              ng-bind="vm.errors.name">
            </p>
          </div>

          <!-- First Name -->
          <div class="form-group" ng-class="{ 'has-error': editUser.firstName.$invalid 
                                                           && vm.submitted }">
            <div class="input-group">
              <span class="user input-group-addon" ng-bind="'First Name'"></span>
              <input type="text" id="firstName" name="firstName" class="form-control" 
                ng-model="vm.user.firstName" placeholder="First Name" required/>
            </div>
          </div>
          <div class="form-group error" ng-class="{ 'has-error': editUser.firstName.$invalid 
                                                                 && vm.submitted }">
            <p class="help-block" ng-show="editUser.firstName.$error.required && vm.submitted"
              ng-bind="'Enter first name'">
            </p>
          </div>

          <!-- Last Name -->
          <div class="form-group" ng-class="{ 'has-error': editUser.lastName.$invalid 
                                                           && vm.submitted }">
            <div class="input-group">
              <span class="user input-group-addon" ng-bind="'Last Name'"></span>
              <input type="text" id="lastName" name="lastName" class="form-control" 
                ng-model="vm.user.lastName" placeholder="Last Name" required/>
            </div>
          </div>
          <div class="form-group error" ng-class="{ 'has-error': editUser.lastName.$invalid 
                                                                 && vm.submitted }">
            <p class="help-block" ng-show="editUser.lastName.$error.required && vm.submitted" 
              ng-bind="'Enter last name'">
            </p>
          </div>

          <!-- Email -->
          <div class="form-group" ng-class="{ 'has-error': editUser.email.$invalid 
                                                           && vm.submitted }">
            <div class="input-group">
              <span class="user input-group-addon" ng-bind="'Email'"></span>
              <input type="email" id="email" name="email" class="form-control" 
                ng-model="vm.user.email" placeholder="Email" required mongoose-error/>
            </div>
          </div>
          <div class="form-group error" ng-class="{ 'has-error': editUser.email.$invalid 
                                                                 && vm.submitted }">
            <p class="help-block" ng-show="editUser.email.$error.email && vm.submitted" 
              ng-bind="'Enter valid email address'"></p>
            <p class="help-block" ng-show="editUser.email.$error.required && vm.submitted" 
              ng-bind="'Enter email address'"></p>
            <p class="help-block" ng-show="editUser.email.$error.mongoose" 
              ng-bind="vm.errors.email">
            </p>
          </div>

          <!-- Salesman # -->
          <div class="form-group" ng-class="{ 'has-error': editUser.salesmanNo.$invalid 
                                                           && vm.submitted }">
            <div class="input-group">
              <span class="user input-group-addon" ng-bind="'Salesman #'"></span>
              <input type="text" id="salesmanNo" name="salesmanNo" class="form-control" 
                ng-model="vm.user.salesmanNo" placeholder="Salesman #" required/>
            </div>
          </div>
          <div class="form-group error" ng-class="{ 'has-error': editUser.salesmanNo.$invalid 
                                                                 && vm.submitted }">
            <p class="help-block" ng-show="editUser.salesmanNo.$error.required 
                                           && vm.submitted" 
              ng-bind="'Enter salesman #'">
            </p>
          </div>

          <!-- Rep Phone # -->
          <div class="form-group" ng-class="{ 'has-error': editUser.repPhoneNo.$invalid 
                                                           && vm.submitted }">
            <div class="input-group">
              <span class="user input-group-addon" ng-bind="'Rep Phone #'"></span>
              <input type="text" id="repPhoneNo" name="repPhoneNo" class="form-control" 
                ng-model="vm.user.repPhoneNo" placeholder="(123) 456-789" required/>
            </div>
          </div>
          <div class="form-group error" ng-class="{ 'has-error': editUser.repPhoneNo.$invalid 
                                                                 && vm.submitted }">
            <p class="help-block" ng-show="editUser.repPhoneNo.$error.required && vm.submitted" 
              ng-bind="'Enter rep phone #'">
            </p>
          </div>

          <!-- Save/Cancel buttons -->
          <div class="form-group">
            <button type="submit" class="btn btn-success" form="editUser" value="Submit">
              <i class="glyphicon glyphicon-ok"></i> Save</button>

            <button type="button" class="pull-right btn btn-danger" ng-click="vm.resetEdit()">
              <i class="glyphicon glyphicon-remove"></i> Cancel</button>
          </div>

        </form>

        <!-- Change password form -->
        <form class="form password" id="changePassword" name="changePassword" 
          ng-submit="vm.savePassword(changePassword)" novalidate>

          <h5>
            <i class="text-muted glyphicon glyphicon-lock"></i>
            <span ng-bind="'Change Password:'"></span>
          </h5><br>

          <!-- Password -->
          <div class="form-group" ng-class="{ 'has-error': changePassword.password.$invalid 
                                                           && vm.pwSubmitted }">
            <div class="input-group">
              <span class="password input-group-addon" ng-bind="'New Password'"></span>
              <input type="password" id="password" name="password" class="form-control" 
                ng-model="vm.user.password" ng-minlength="3" placeholder="New Password" required
                mongoose-error/>
            </div>
          </div>
          <div class="form-group error" ng-class="{ 'has-error': 
                                                     changePassword.password.$invalid 
                                                     && vm.pwSubmitted }">
            <p class="help-block" ng-show="(changePassword.password.$error.minlength || 
                                            changePassword.password.$error.required) && vm.pwSubmitted" 
              ng-bind="'Password must be at least 3 characters'">
            </p>
            <p class="help-block" ng-show="changePassword.password.$error.mongoose" 
              ng-bind="vm.errors.password">
            </p>
          </div>

          <!-- Confirm Password -->
          <div class="form-group" ng-class="{'has-error': 
                                              changePassword.confirmPassword.$invalid 
                                              && vm.pwSubmitted}">
            <div class="input-group">
              <span class="password input-group-addon" ng-bind="'Confirm Password'"></span>
              <input type="password" id="confirmPassword" name="confirmPassword" 
                class="form-control" ng-model="vm.user.confirmPassword" 
                placeholder="ConfirmPassword" match="vm.user.password" ng-minlength="3" 
                required/>
            </div>
          </div>
          <div class="form-group error" ng-class="{'has-error': 
                                                    changePassword.confirmPassword.$invalid 
                                                    && vm.pwSubmitted}">
            <p class="help-block" ng-show="changePassword.confirmPassword.$error.match 
                                           && vm.pwSubmitted" 
              ng-bind="'Passwords must match'">
            </p>
          </div>

          <!-- Save/Cancel buttons -->
          <div class="form-group">
            <button type="submit" class="btn btn-success" form="changePassword" value="Submit">
              <i class="glyphicon glyphicon-ok"></i> Change</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
