<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4 class="page-header">Change Password</h4>
      <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-error': form.password.$invalid && vm.submitted }">

          <input type="password" id="password" name="password" class="form-control" 
            ng-model="vm.user.oldPassword" placeholder="Current Password" mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose" ng-bind="vm.errors.other"></p>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.newPassword.$invalid && 
                                                        (form.newPassword.$dirty || vm.submitted) }">

          <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
            placeholder="New Password" ng-minlength="3" required/>
          <p class="help-block" ng-show="(form.newPassword.$error.minlength || 
                                          form.newPassword.$error.required) && (form.newPassword.$dirty || 
                                          vm.submitted)" ng-bind="'Password too short'"></p>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.confirmPassword.$invalid && vm.submitted }">

          <input type="password" name="confirmPassword" class="form-control" 
            ng-model="vm.user.confirmPassword" placeholder="Confirm New Password" match="vm.user.newPassword"
            ng-minlength="3" required/>
          <p class="help-block" ng-show="form.confirmPassword.$error.match && vm.submitted" 
            ng-bind="'Passwords must match'">
          </p>

        </div>

        <p class="help-block" ng-bind="vm.message"></p>

        <button class="btn btn-primary" type="submit"><i class="glyphicon glyphicon-ok"></i> Save</button>
      </form>
    </div>
  </div>
</div>
