<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4 class="page-header"><div ncy-breadcrumb></div></h4>

      <!-- Note details -->
      <div ng-show="vm.note.createdAt">
        <i class="text-muted glyphicon glyphicon-time"></i>
        <!-- Display updatedAt -->
        <span class="text-muted" ng-bind="vm.note.updatedAt | date: 'EEE MMM dd h:mm a'"></span>

        <div class="pull-right">
          <i class="text-muted glyphicon glyphicon-user"></i>
          <span class="text-muted" ng-bind="vm.note.user.name"></span>
        </div>
      </div>

      <!-- noteEdit template -->
      <div ui-view="noteEdit"></div>

      <div class="form-group">
        <!-- Submit editNote to saveNote(form) -->
        <button type="submit" class="btn btn-success" form="editNote" value="Submit">
          <i class="glyphicon glyphicon-ok"></i> Save</button>
        
        <!-- State => notes.view, params.id: vm.note._id -->
        <button type="button" class="pull-right btn btn-danger" 
          ui-sref="notes.view({id:vm.note._id})"><i class="glyphicon glyphicon-new-window"></i> 
          Cancel</button>
      </div>

      <!-- Comments -->
        <div class="form-flex form-group border-top">
          <div class="secondary">
            <i class="text-muted glyphicon glyphicon-comment"></i>
            <span ng-bind="' Comments'"></span><span class="text-muted" ng-bind="' ('"></span><span ng-bind="vm.note.comments.length"></span><span class="text-muted" ng-bind="')'"></span>
          </div>

          <!-- Sort, Clear buttons -->
          <div class="primary">
            <div class="pull-right">
              <button type="button" class="btn btn-default" ng-click="vm.sortReverse()">
                <i class="text-muted glyphicon glyphicon-sort"></i> Sort</button>

              <button type="button" class="btn btn-default" ng-show="vm.filter" 
                ng-click="vm.filter = ''">
                <i class="text-muted glyphicon glyphicon-filter"></i> Clear</button>
            </div>
          </div>
        </div>

      <!-- noteView template -->
      <div ui-view="commentsView"></div>

    </div>
  </div>
</div>
