<h5>
  <i class="text-muted glyphicon glyphicon-comment"></i>
  <span ng-show="vm.notNew" ng-bind="'Edit'"></span>
  <span ng-hide="vm.notNew" ng-bind="'Add'"></span>
  <span ng-bind="' Comment:'"></span>
</h5><br>

<form class="form" id="editComment" name="editComment" ng-submit="vm.saveComment(editComment)" novalidate>
  
  <!-- Comment -->
  <div class="form-group" 
    ng-class="{ 'has-error': editComment.comment.$invalid && vm.submitted }">
    <div class="input-group">
      <span class="input-group-addon" ng-bind="'Comment'"></span>
      <textarea id="comment" name="comment" class="form-control" ng-model="vm.comment.message" 
        placeholder="Comment" rows="1" msd-elastic required></textarea>
    </div>
  </div>
  <div class="form-group error" ng-class="{ 'has-error': editComment.comment.$invalid 
                                                         && vm.submitted }">
    <p class="help-block" ng-show="editComment.comment.$error.required && vm.submitted" 
        ng-bind="'Enter a comment'"></p>
  </div>
</form>