<form class="form" id="editNote" name="editNote" ng-submit="vm.saveNote(editNote)" novalidate>
  <div class="form-group"></div>

  <!-- Title -->
  <div class="form-group" ng-class="{ 'has-error': editNote.title.$invalid && vm.submitted }">

    <div class="input-group">
      <span class="notes input-group-addon">Title</span>
      <input type="text" name="title" id="title" class="form-control" ng-model="vm.note.title" 
        placeholder="Title" required>
    </div>
  </div>
  <div class="form-group error" ng-class="{ 'has-error': editNote.title.$invalid 
                                                         && vm.submitted }">
    <div class="secondary notes"></div>
    <div class="primary">
      <p class="help-block" ng-show="editNote.title.$error.required && vm.submitted" 
        ng-bind="'Enter a title'"></p>
    </div>
  </div>
  
  <!-- Message -->
  <div class="form-group" ng-class="{ 'has-error': editNote.message.$invalid && vm.submitted }">
    <div class="input-group">
      <span class="notes input-group-addon">Message</span>
      <textarea id="message" name="message" class="form-control" ng-model="vm.note.message" 
        placeholder="Message" msd-elastic required></textarea>
    </div>
  </div>
  <div class="form-group error" ng-class="{ 'has-error': editNote.message.$invalid 
                                                                   && vm.submitted }">
    <p class="help-block" ng-show="editNote.message.$error.required && vm.submitted" 
        ng-bind="'Enter a message'"></p>
  </div>
</form>