<ul class="list-group note-list">
  <li class="list-group-item" ng-repeat="note in vm.notes | orderBy:note.updatedAt : vm.sortDirection | filter: vm.filter">
    <i class="text-muted glyphicon glyphicon-time"></i>
    <span class="text-muted">{{note.updatedAt | date: 'EEE MMM dd h:mm a'}}</span>

    <div class="pull-right">
      <i class="text-muted glyphicon glyphicon-user"></i>
      <a href="#" ng-click="vm.filter.user.name ? vm.filter = '' : vm.filter.user.name = note.user.name"> 
        {{note.user.name}}</a>
    </div>

    <div class="form-group">
      <span><strong>{{note.title}}</strong></span><br>
      <span>{{note.message}}</span>
    </div>
    
    <div class="form-group" ng-show="vm.userCanEdit(note.user.name)">
    <!-- hide edit/delete buttons -->
      <div ng-hide="note.delete">
        <button class="btn btn-info" ng-click="vm.editNote(note)">
          <i class="glyphicon glyphicon-edit"></i> Edit</button>
        <button class="pull-right btn btn-danger" ng-click="note.delete = !note.delete">
          <i class="glyphicon glyphicon-trash"></i> Delete</button>
      </div>

      <!-- show delete -> confirm, cancel buttons -->
      <div ng-show="note.delete">
        <button class="btn btn-success" ng-click="vm.deleteNote(note._id)">
          <i class="glyphicon glyphicon-ok"></i> Confirm</button>
        <button class="pull-right  btn btn-danger" ng-click="note.delete = !note.delete">
            <i class="glyphicon glyphicon-remove"></i> Cancel</button>
      </div>
    </div>
  </li>
</ul>