.note-list, comment-list {
	margin: 0;
}
.notes.input-group-addon {
  min-width: 83px;
}
.note-list li, .comment-list li {
	border: none;
	border-bottom: 1px solid #eee;
	margin-bottom: 0px;
	padding: 12px 0 0px 0;
}
.comment-list li:first-child {
  padding-top: 0;
}
.add {
  border-top: 1px solid #eee;
  padding-top: 12px;
}
.note-list li:first-child{
	border-top: 1px solid #eee;
}
.note-list li:last-child, .comment-list li:last-child {
	border-bottom: none;
}
.border-top {
  border-top: 1px solid #eee;
  padding-top: 12px;
}