<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4 class="page-header">Orders</h4>
      <form>
        <div class="form-group">
          <a type="button" class="btn btn-primary" ui-sref="ordersEdit">
            <i class="glyphicon glyphicon-pencil"></i> Create</a>

          <div class="pull-right">
            <button type="button" class="btn btn-default" ng-click="vm.sortReverse()">
              <i class="text-muted glyphicon glyphicon-sort"></i> Sort</button>

            <button type="button" ng-show="vm.filter" class="btn btn-default" ng-click="vm.filter = ''">
              <i class="text-muted glyphicon glyphicon-filter"></i> Clear</button>
          </div>
        </div>
      </form>
      <form>
        <!-- Orders List -->
        <ul class="list-group order-list">
          <!-- User see thier own orders, Admin see all orders -->
          <li class="list-group-item" ng-show="vm.isOwnerOrAdmin(order.user.name)" ng-repeat="order in vm.orders | orderBy:'dateServiced' : vm.sortDirection | filter: vm.filter">
            <div class="form-group">
              <div class="pull-right" ng-show="vm.isAdmin()">
                <i class="text-muted glyphicon glyphicon-user"></i>
                <a href="#" ng-click="vm.filter.user.name ? vm.filter = '' : 
                                      vm.filter.user.name = order.user.name" ng-bind="order.user.name"></a>
              </div>

              <a href="#" ng-click="vm.filter.chainStore ? vm.filter = '' : 
                                    vm.filter.chainStore = order.chainStore">
                <strong ng-bind="order.chainStore"></strong></a>
              <span ng-bind="'({{order.town}})'"></span><br>

              <i class="text-muted glyphicon glyphicon-calendar"></i>
              <span ng-bind="order.dateServiced | date: 'MM/dd/yy'"></span>
              <span class="text-muted"> Serviced</span><br>

              <i class="text-muted glyphicon glyphicon-calendar"></i>
              <span ng-bind="order.dateInStore | date: 'MM/dd/yy'"></span>
              <span class="text-muted"> In-Store</span><br>

              <i class="text-muted glyphicon glyphicon-file"></i>
              <span ng-bind="order.invoices.length"></span>
              <span class="text-muted"> Invoice<span ng-if="order.invoices.length != 1">s</span></span>
              
              <i class="text-muted glyphicon glyphicon-barcode"></i>
              <span ng-bind="order.items.length"></span>
              <span class="text-muted"> Item<span ng-if="order.items.length != 1">s</span></span>

              <div ng-show="order.sent">
                <a href="#" ng-click="vm.filter.sent ? vm.sent = '' : 
                  vm.filter.sent = '!!'">Sent</a>
                <span ng-bind="order.sent | date: 'MM/dd/yy hh:mm a'"></span>
              </div>
            </div>

            <div class="form-group" ng-hide="order.delete || order.send">
              <button type="button" class="btn btn-info" 
                  ng-click="order.send = !order.send">
                <i class="glyphicon glyphicon-send"></i> Send</button>
              <div class="pull-right">
                <a type="button" class="btn btn-warning" ui-sref="ordersEdit({id:order._id})">
                  <i class="glyphicon glyphicon-edit"></i> Edit</a>

                <button type="button" class="btn btn-danger" 
                    ng-click="order.delete = !order.delete">
                  <i class="glyphicon glyphicon-trash"></i> Delete</button>
              </div>
            </div>

            <div class="form-group" ng-show="order.send">
              <button type="button" class="btn btn-success" 
                ng-click="vm.sendOrder(order._id); order.send = !order.send">
                <i class="glyphicon glyphicon-ok"></i> Confirm</button>
              <button type="button" class="pull-right btn btn-danger" 
                ng-click="order.send = !order.send">
                <i class="glyphicon glyphicon-remove"></i> Cancel</button>
            </div>

            <div class="form-group" ng-show="order.delete">
              <button type="button" class="btn btn-success" ng-click="vm.deleteOrder(order._id)">
                <i class="glyphicon glyphicon-ok"></i> Confirm</button>
              <button type="button" class="pull-right btn btn-danger" 
                ng-click="order.delete = !order.delete">
                <i class="glyphicon glyphicon-remove"></i> Cancel</button>
            </div>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>