<uib-accordion close-others="true">
  <uib-accordion-group ng-repeat="item in vm.order.items" 
    heading="[{{item.aisle}}] {{item.description}} ({{item.quantity}})" 
    template-url="app/templates/accordion-template.html">

    <!-- Aisle -->
    <div class="form-group">
      <div class="input-group">
        <span class="item input-group-addon" ng-bind="'Aisle'"></span>
        <input type="text" class="form-control" ng-model="item.aisle" disabled>
      </div>
    </div>

    <!-- Description -->
    <div class="form-group">
      <div class="input-group">
        <span class="item input-group-addon" ng-bind="'Desc'"></span>
        <input type="text" class="form-control" ng-model="item.description" disabled>
      </div>
    </div>

    <!-- UPC -->
    <div class="form-group">
      <div class="input-group">
        <span class="item input-group-addon" ng-bind="'UPC'"></span>
        <input type="text" class="form-control" ng-model="item.upc" disabled>
      </div>
    </div>

    <!-- Quantity -->
    <div class="form-group">
      <div class="input-group">
        <span class="item input-group-addon" ng-bind="'Quantity'"></span>
        <input type="text" class="form-control" ng-model="item.quantity" disabled>
      </div>
    </div>

    <!-- Edit, Delete item buttons -->
    <div class="form-group">
      <button type="button" class="btn btn-warning" ng-click="vm.editItem(item)">
        <i class="glyphicon glyphicon-edit"></i> Edit</button>

      <button type="button" class="pull-right btn btn-danger" ng-click="vm.deleteItem(item)">
        <i class="glyphicon glyphicon-trash"></i> Delete</button>
    </div>
  </uib-accordion-group>
</uib-accordion>