<uib-accordion close-others="true">
  <uib-accordion-group ng-repeat="item in vm.order.items" 
      heading="[{{item.aisle}}] {{item.description}} ({{item.quantity}})" 
      template-url="app/templates/accordion-template.html">
    <div class="form-flex form-group">
      <div class="secondary items">
        <label><span class="text-muted">Aisle</span></label>
      </div>
      <div class="primary" ng-bind="item.aisle"></div>
    </div>
    <div class="form-flex form-group">
      <div class="secondary items">
        <label><span class="text-muted">Desc.</span></label>
      </div>
      <div class="primary" ng-bind="item.description"></div>
    </div>
    <div class="form-flex form-group">
      <div class="secondary items">
        <label><span class="text-muted">UPC</span></label>
      </div>
      <div class="primary" ng-bind="item.upc"></div>
    </div>
    <div class="form-flex form-group">
      <div class="secondary items">
        <label><span class="text-muted">Quantity</span></label>
      </div>
      <div class="primary" ng-bind="item.quantity"></div>
    </div>
    <!-- Edit, Delete item buttons -->
    <div class="form-group">
      <button type="button" class="btn btn-warning" ng-click="vm.editItem(item)">
        <i class="glyphicon glyphicon-edit"></i> Edit</button>

      <button type="button" class="pull-right btn btn-danger" 
          ng-click="vm.deleteItem(item)"><i class="glyphicon glyphicon-trash"></i> Delete</button>
    </div>
  </uib-accordion-group>
</uib-accordion>