<h5>
  <i class="text-muted glyphicon glyphicon-list-alt"></i>
  <span ng-bind="'Order Details:'"></span>
</h5><br>

<form class="form" id="editOrder" name="editOrder" ng-submit="vm.saveOrder(editOrder)" novalidate>

  <!-- Full Name -->
  <div class="form-group">
    <div class="input-group">
      <span class="order input-group-addon" ng-bind="'Full Name'"></span>
      <input type="text" id="fullName" name="fullName" class="form-control" 
        ng-model="vm.fullName" placeholder="Full Name" disabled required>
    </div>
  </div>

  <!-- Salesman # -->
  <div class="form-group">
    <div class="input-group">
      <span class="order input-group-addon" ng-bind="'Salesman #'"></span>
      <input type="text" id="salesmanNo" name="salesmanNo" class="form-control" 
        ng-model="vm.order.user.salesmanNo" placeholder="Salesman #" disabled required>
    </div>
  </div>

  <!-- Rep Phone # -->
  <div class="form-group">
    <div class="input-group">
      <span class="order input-group-addon" ng-bind="'Rep Phone #'"></span>
      <input type="text" id="repPhoneNo" name="repPhoneNo" class="form-control" 
        ng-model="vm.order.user.repPhoneNo" placeholder="Rep Phone #" disabled required>
    </div>
  </div>

  <!-- District Mgr -->
  <div class="form-group">
    <div class="input-group">
      <span class="order input-group-addon" ng-bind="'District Mgr'"></span>
      <input type="text" id="districtMgr" name="districtMgr" class="form-control" 
        ng-model="vm.districtMgr" placeholder="District Mgr" disabled required>
    </div>
  </div>

  <!-- Chain & Store # -->
  <div class="form-group" ng-class="{ 'has-error': editOrder.chainStore.$invalid 
                                                   && vm.submitted }">
    <div class="input-group">
      <span class="order input-group-addon" ng-bind="'Chain & Store #'"></span>
      <input type="text" id="chainStore" name="chainStore" class="form-control" 
        ng-model="vm.order.chainStore" placeholder="(e.g. ZKRLO 123)" required>
    </div>
  </div>
  <div class="form-group error" ng-class="{ 'has-error': editOrder.chainStore.$invalid 
                                                         && vm.submitted }">
    <p class="help-block" ng-show="editOrder.chainStore.$error.required && vm.submitted" 
      ng-bind="'Enter chain & store #'"></p>
  </div>

  <!-- Town -->
  <div class="form-group" ng-class="{ 'has-error': editOrder.town.$invalid 
                                                   && vm.submitted }">
    <div class="input-group">
      <span class="order input-group-addon" ng-bind="'Town'"></span>
      <input type="text" id="town" name="town" class="form-control" ng-model="vm.order.town" 
        placeholder="Town" required>
    </div>
  </div>
  <div class="form-group error" ng-class="{ 'has-error': editOrder.town.$invalid 
                                                         && vm.submitted }">
    <p class="help-block" ng-show="editOrder.town.$error.required && vm.submitted" 
      ng-bind="'Enter town'"></p>
  </div>

  <!-- Date Serviced -->
  <div class="form-group">
    <div class="input-group">
      <span class="order input-group-addon" ng-bind="'Date Serviced'"></span>
      <p class="input-group" ng-click="vm.dateServicedCal = !vm.dateServicedCal">
        <input type="text" uib-datepicker-popup="{{vm.dateFormat}}" id="dateServiced" 
          name="dateServiced" class="handicapped form-control" ng-model="vm.order.dateServiced" 
          placeholder="Serviced Date" readonly required>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default">
            <i class="text-muted glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
  </div>
  <div class="inline-cal" ng-show="vm.dateServicedCal">
    <div style="display:inline-block;">
      <uib-datepicker ng-model="vm.order.dateServiced" class="well well-sm" 
        datepicker-options="vm.inlineOptions" ng-change="vm.toggleDateServicedCal()">
      </uib-datepicker>
    </div>
  </div>

  <!-- Date In-Store -->
  <div class="form-group">
    <div class="input-group">
      <span class="order input-group-addon" ng-bind="'Date In-Store'"></span>
      <p class="input-group" ng-click="this.dateInStoreCal = !this.dateInStoreCal">
        <input type="text" uib-datepicker-popup="{{vm.dateFormat}}" id="dateInStore" 
          name="dateInStore" class="handicapped form-control" ng-model="vm.order.dateInStore" 
          placeholder="In-Store Date" readonly required>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default">
            <i class="text-muted glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
    </div>
  </div>
  <div class="inline-cal" ng-show="vm.dateInStoreCal">
    <div style="display:inline-block;">
      <uib-datepicker ng-model="vm.order.dateInStore" class="well well-sm" 
        datepicker-options="vm.inlineOptions" 
        ng-change="this.dateInStoreCal = !this.dateInStoreCal">
      </uib-datepicker>
    </div>
  </div>
</form>