<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h4 class="page-header"><div ncy-breadcrumb></div></h4>

      <!-- Create, Sort, Clear buttons -->
      <div class="form-group">
        <!-- State => notes.create -->
        <a type="button" class="btn btn-primary" ui-sref="notes.create">
          <i class="glyphicon glyphicon-pencil"></i> Create</a>

        <div class="pull-right">
          <button type="button" class="btn btn-default" ng-click="vm.sortDirection = !vm.sortDirection">
            <i class="text-muted glyphicon glyphicon-sort"></i> Sort</button>

          <button type="button" class="btn btn-default" ng-show="vm.filter" 
            ng-click="vm.filter = ''">
            <i class="text-muted glyphicon glyphicon-filter"></i> Clear</button>
        </div>
      </div>

      <!-- List notes -->
      <ul class="list-group note-list">
        <!-- Order by createdAt -->
        <li class="list-group-item" ng-repeat="note in vm.notes | orderBy:'createdAt' : vm.sortDirection | filter: vm.filter">
          <span class="text-muted">
            <i class="glyphicon glyphicon-time"></i>
            <!-- Display updatedAt -->
            <span ng-bind="note.updatedAt | date: 'EEE MMM dd h:mm a'"></span>
          </span>

          <!-- Note details -->
          <div class="pull-right">
            <i class="text-muted glyphicon glyphicon-user"></i>
            <a href="#" ng-click="vm.filter.user.name ? vm.filter = '' : 
              vm.filter.user.name = note.user.name"><span ng-bind="note.user.name"></span></a>
          </div>

          <div class="form-group">
            <span><strong ng-bind="note.title"></strong></span><br>
            <span class="newlines" ng-bind="note.message"></span><br>
            
            <i class="text-muted glyphicon glyphicon-comment"></i>
            <span ng-bind="note.comments.length"></span>
            <span class="text-muted">
              <span ng-bind="' comment'"></span><span ng-bind="'s'"
                    ng-show="note.comments.length !== 1"></span>
            </span>
          </div>

          <!-- View, Edit, Delete buttons -->
          <div class="form-flex form-group" ng-hide="note.delete">
            <div class="secondary">
              <!-- State => notes.view, params.id: 'note._id' -->
              <a type="button" class="btn btn-info" ui-sref="notes.view({id:note._id})">
                <i class="glyphicon glyphicon-unchecked"></i> View</a>
            </div>
            <div class="primary">
              <div class="pull-right">
                <!-- Owner, Admin can delete -->
                <div ng-show="vm.isOwnerOrAdmin(note.user.name)">
                  <!-- Owner can edit -->
                  <!-- State => notes.edit, params.id: 'note._id' -->
                  <a type="button" class="btn btn-warning" ng-show="vm.isOwner(note.user.name)"
                    ui-sref="notes.edit({id:note._id})"><i class="glyphicon glyphicon-edit"></i> Edit</a>

                  <button class="btn btn-danger" ng-click="note.delete = !note.delete">
                    <i class="glyphicon glyphicon-trash"></i> Delete</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Show Delete -> Confirm/Cancel buttons -->
          <div class="form-group" ng-show="note.delete">
            <button class="btn btn-success" ng-click="vm.deleteNote(note._id)">
              <i class="glyphicon glyphicon-ok"></i> Confirm</button>

            <button class="pull-right btn btn-danger" ng-click="note.delete = !note.delete">
              <i class="glyphicon glyphicon-remove"></i> Cancel</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
