<div class="panel {{panelClass || 'panel-default'}}">
  <div class="panel-heading" class="accordion-toggle" ng-click="toggleOpen()">
  	<i class="pull-right text-muted glyphicon" ng-class="isOpen ? 'glyphicon-chevron-down' : 'glyphicon-chevron-right'"></i>
    <p class="panel-title">
      <span uib-accordion-transclude="heading" ng-class="{'text-muted': !isOpen}" ng-bind="heading"></span>
    </p>
    
  </div>
  <div class="panel-collapse collapse" uib-collapse="!isOpen">
      <div class="panel-body" ng-transclude></div>
  </div>
</div>